.allTodo {
   background: #364250;
   border-radius: 5px;
   width: 97%;
   margin-top: 4%;
   margin-left: 2%;
}

.inTodo {
   border-radius: 5px;
   display: flex;
   align-items: center;
}


.inTodo input {
   width: 93%;
   padding: 15px;
   border: none;
   color: white;
   background: #364250;
   outline: none;
   border-radius: 5px;
}



.taskbar {
   background: #364250;
   height: 45px;
   width: 97%;
   margin-left: 2%;
   border-radius: 5px;
   border-top: 1px solid rgb(117, 117, 117);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   justify-content: space-between;
   gap: 80%;
}

.addBtn {
   background-color: transparent;
   border: 1px solid white;
   color: white;
   background-color: rgb(75, 78, 87);
   border-radius: 5px;
   transition: transform 0.3s, background-color 0.3s;
   padding: 4px 5px;
}

.addBtn:hover {
   background-color: rgb(101, 104, 112);
   transform: translateY(-2px);
   transform: scale(1.2);
}

#enabled {
   cursor: pointer;
   color: #bbf7f7;
   border: 1px solid #bbf7f7;
}

#disabled {
   cursor: not-allowed;
}

.taskIcon {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
}

.tIcons {
   padding: 5px;
   background-color: transparent;
   border: none;
   color: #d1dfe3;
}

.tIcons:hover {
   background-color: rgb(91, 104, 116);
   border-radius: 3px;
}

.todoItems {
   background: #364250;
   height: 45px;
   width: 97%;
   margin-left: 2%;
   border-radius: 5px;
   display: grid;
   grid-template-columns: 94% 2% 1% 2%;
   align-items: center;
   margin-top: 1%;
}

.todoItems div:nth-child(1) {
   height: 45px;
   display: flex;
   align-items: center;
   gap: 15px;
}


.input-icon {
   cursor: pointer;
   font-size: 20px;
   margin-left: 10px;
}


.dueDate{
   border:2px solid black;
   margin-top:20%;
}